*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Tahoma,sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#0d47a1;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:linear-gradient(#2196F3,#42A5F5);
    color:white;
}

section{
    padding:50px;
}

.card{
    background:white;
    margin:15px 0;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
}

ul li{
    margin:10px 0;
}

footer{
    background:#0d47a1;
    color:white;
    text-align:center;
    padding:20px;
}
